@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #000;
}

.bg-main-img {
  background-image: url('/main-bg-min.jpg');
}

h1 {
  font-family: 'BasementGrotesque';
}

a {
  color: inherit;
  text-decoration: none;
}

li, h1, h2, h4, button {
  color: white;
}

h1 .stargaze-gradient {
  background: linear-gradient(267deg, rgba(56,171,236,1) 0%, rgba(255,245,129,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.handle {
  transform: rotate(332deg);
  transform-origin: bottom;
  transform-box: fill-box;
}

.bg-stargaze-accent:hover {
  background-color: #be185d;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
